{% load wagtailimages_tags %}
{% load wagtailcore_tags comment_tags advert_tags %}

<div class="grid last third col" id="right_col" data-beacon='{"p":{"mlid":"col3"}}'>

			<!-- Top ad -->
<div id="ad_right_rail_flex" class="ad_wrapper_top">
    {% side_random_advert as advert %}
    {% for advert in advert %}
        {% if advert.custom_redirect_url %}
              <a href="{{ advert.custom_redirect_url }}" target="_blank">{% image advert.image fill-300x250 %}</a>
        {% else %}
            {% image advert.image fill-300x250 %}
        {% endif %}
    {% endfor %}
    </div><div class='margin_10_0 center'>



</div><div class='margin_10_0 center'><div id="ad_sponsorship" class="ad_wrapper"><a href="http://www.huffingtonpost.co.uk/advertise/"><img src="http://s.huffpost.com/images/ads/advertise_on_huffpost.png" style="padding-bottom:10px" width="196" height="12" alt="Advertise On The Huffington Post"></a></div></div><!-- ESI MostPopular StartTime:1407842083 -->



                <!-- ESI MostPopular EndTime:1407841948 --><div id="all_frontpage_widgets" class="margin_10_0" data-beacon='{"p":{"mnid":"mostPopularEntry"}}'>
        <div class="float_right most_popular_pager" id="mp_pager">
        <a href="javascript:void(0);" class="prev"></a>
        <a href="javascript:void(0);" class="next"></a>
    </div>
        <h3 class="uppercase most_popular margin_bottom_10 black">Most Popular</h3>

    <div class="most_popular_cycle" id="mp_cycle">

                <div class="most_popular_entry_wrapper">
            <a href="lisa-egan/george-takei-facebook_b_5660280-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":0, "plid":5660280, "lnid":"page1"}}'>
                                    <a href="lisa-egan/george-takei-facebook_b_5660280-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'><i>Lisa Egan</i>  Bullying Disabled People Is Never Ok - But It's Even Worse When You've Got 8.7Million Fans Watching</a>
                <div class="relative">
                    <a href="lisa-egan/george-takei-facebook_b_5660280-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1569646/thumbs/n-GEORGE-TAKEI-medium.jpg" alt="George Takei" /></a>
                                        <span class="absolute image-credit">Mike Coppola via Getty Images</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/10/the-supermoon-lights-up-the-world_n_5666551-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":1, "plid":5666551, "lnid":"page1"}}'>
                                    <a href="2014/08/10/the-supermoon-lights-up-the-world_n_5666551-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>'Supermoon' Lights Up Skies Across Continents</a>
                <div class="relative">
                    <a href="2014/08/10/the-supermoon-lights-up-the-world_n_5666551-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957501/thumbs/n-SUPERMOON-medium.jpg" alt="Supermoon" /></a>
                                        <span class="absolute image-credit">AP</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/ed-miliband-labour-policy-grassroots-criticism_n_5667341-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":2, "plid":5667341, "lnid":"page1"}}'>
                                    <a href="2014/08/11/ed-miliband-labour-policy-grassroots-criticism_n_5667341-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>'Catastrophic' And 'Pathetic' Miliband Under Fire From Labour Grassroots</a>
                <div class="relative">
                    <a href="2014/08/11/ed-miliband-labour-policy-grassroots-criticism_n_5667341-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958012/thumbs/n-ED-MILIBAND-medium.jpg" alt="Ed Miliband" /></a>
                                        <span class="absolute image-credit">Andrew Milligan/PA Wire</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/12/robin-williams-dead-funniest-quotes-oneliners_n_5670611-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":3, "plid":5670611, "lnid":"page1"}}'>
                                    <a href="2014/08/12/robin-williams-dead-funniest-quotes-oneliners_n_5670611-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Remembering Robin Williams With 20 Of His Funniest Quotes</a>
                <div class="relative">
                    <a href="2014/08/12/robin-williams-dead-funniest-quotes-oneliners_n_5670611-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1959939/thumbs/r-ROBIN-WILLIAMS-medium.jpg" alt="Robin Williams" /></a>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/paddy-power-twitter-account-steve_n_5667531-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":4, "plid":5667531, "lnid":"page1"}}'>
                                    <a href="2014/08/11/paddy-power-twitter-account-steve_n_5667531-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Paddy Power Live Tweets Man's Doomed Attempt To Woo Girl</a>
                <div class="relative">
                    <a href="2014/08/11/paddy-power-twitter-account-steve_n_5667531-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958000/thumbs/n-PP-medium.jpg" alt="Pp" /></a>
                                        <span class="absolute image-credit">Twitter</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/israeli-tourists-visit-bradford-galloway_n_5667465-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":5, "plid":5667465, "lnid":"page1"}}'>
                                    <a href="2014/08/11/israeli-tourists-visit-bradford-galloway_n_5667465-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Israeli Tourists Visit Bradford To Troll George Galloway</a>
                <div class="relative">
                    <a href="2014/08/11/israeli-tourists-visit-bradford-galloway_n_5667465-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957961/thumbs/n-ISRAEL-BRADFORD-medium.jpg" alt="Israel Bradford" /></a>
                                        <span class="absolute image-credit">Twitter</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/michael-douglas-diandra-catherine-zeta-jones_n_5667434-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":6, "plid":5667434, "lnid":"page1"}}'>
                                    <a href="2014/08/11/michael-douglas-diandra-catherine-zeta-jones_n_5667434-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Michael's Ex-Wife Throws Some Serious Zeta-Jones Shade</a>
                <div class="relative">
                    <a href="2014/08/11/michael-douglas-diandra-catherine-zeta-jones_n_5667434-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957937/thumbs/r-CATHERINE-ZETA-JONES-medium.jpg" alt="Catherine Zeta Jones" /></a>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/robin-williams-dead-actor-found-at-california-home_n_5670114-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":7, "plid":5670114, "lnid":"page2"}}'>
                                    <a href="2014/08/11/robin-williams-dead-actor-found-at-california-home_n_5670114-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Actor Robin Williams Found Dead At California Home</a>
                <div class="relative">
                    <a href="2014/08/11/robin-williams-dead-actor-found-at-california-home_n_5670114-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1959695/thumbs/n-ROBIN-WILLIAMS-medium.jpg" alt="Robin Williams" /></a>
                                        <span class="absolute image-credit">Ben Gabbe via Getty Images</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/untrue-british-stereotypes-comedy_n_5484261-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":8, "plid":5484261, "lnid":"page2"}}'>
                                    <a href="2014/08/11/untrue-british-stereotypes-comedy_n_5484261-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>9 Stereotypes About The British That Simply Aren't True</a>
                <div class="relative">
                    <a href="2014/08/11/untrue-british-stereotypes-comedy_n_5484261-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1886868/thumbs/n-ROYAL-FAMILY-BRITISH-STEREOTYPES-medium.jpg" alt="Royal Family British Stereotypes" /></a>
                                        <span class="absolute image-credit">PA</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/dogs-react-levitating-wiener_n_5667401-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":9, "plid":5667401, "lnid":"page2"}}'>
                                    <a href="2014/08/11/dogs-react-levitating-wiener_n_5667401-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>This Video Of Dogs Reacting To A Levitating Sausage Is Absolutely Priceless</a>
                <div class="relative">
                    <a href="2014/08/11/dogs-react-levitating-wiener_n_5667401-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957922/thumbs/n-DOGS-MAGIC-LEVITATING-WIENER-medium.jpg" alt="Dogs Magic Levitating Wiener" /></a>
                                        <span class="absolute image-credit">YouTube</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/game-of-thrones-jj-murphy-dies-aged-86_n_5667917-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":10, "plid":5667917, "lnid":"page2"}}'>
                                    <a href="2014/08/11/game-of-thrones-jj-murphy-dies-aged-86_n_5667917-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>'Game of Thrones' Actor Dies</a>
                <div class="relative">
                    <a href="2014/08/11/game-of-thrones-jj-murphy-dies-aged-86_n_5667917-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958239/thumbs/r-JJ-medium.jpg" alt="Jj" /></a>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/does-penis-size-matter_n_5667636-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":11, "plid":5667636, "lnid":"page2"}}'>
                                    <a href="2014/08/11/does-penis-size-matter_n_5667636-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>This Officially Answers Whether Penis Size Matters</a>
                <div class="relative">
                    <a href="2014/08/11/does-penis-size-matter_n_5667636-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958063/thumbs/n-PENIS-SIZE-medium.jpg" alt="Penis Size" /></a>
                                        <span class="absolute image-credit">energyy via Getty Images</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/made-in-chelsea-nyc-review_n_5666590-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":12, "plid":5666590, "lnid":"page2"}}'>
                                    <a href="2014/08/11/made-in-chelsea-nyc-review_n_5666590-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>REVIEW: The 10 Most Ludicrous Things In Last Night's 'Made In Chelsea NYC'</a>
                <div class="relative">
                    <a href="2014/08/11/made-in-chelsea-nyc-review_n_5666590-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957508/thumbs/n-MADE-IN-CHELSEA-NYC-medium.jpg" alt="Made In Chelsea Nyc" /></a>
                                        <span class="absolute image-credit">E4</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/10/islamic-state-execute-500-yazidis-with-some-victims-being-buried-alive_n_5665847-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":13, "plid":5665847, "lnid":"page2"}}'>
                                    <a href="2014/08/10/islamic-state-execute-500-yazidis-with-some-victims-being-buried-alive_n_5665847-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Islamic State 'Execute 500 Yazidis' With Some Victims 'Buried Alive'</a>
                <div class="relative">
                    <a href="2014/08/10/islamic-state-execute-500-yazidis-with-some-victims-being-buried-alive_n_5665847-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1956298/thumbs/n-IRAQ-ISIL-medium.jpg" alt="Iraq Isil" /></a>
                                        <span class="absolute image-credit"> </span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/09/women-stoned-to-death_n_5664759-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":14, "plid":5664759, "lnid":"page3"}}'>
                                    <a href="2014/08/09/women-stoned-to-death_n_5664759-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>'Even When She Was Hit With Stones She Did Not Scream Or Move'</a>
                <div class="relative">
                    <a href="2014/08/09/women-stoned-to-death_n_5664759-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1956862/thumbs/n-RAQQA-medium.jpg" alt="Raqqa" /></a>
                                        <span class="absolute image-credit">ASSOCIATED PRESS</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/frank-maloney-gender-suic_n_5667295-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":15, "plid":5667295, "lnid":"page3"}}'>
                                    <a href="2014/08/11/frank-maloney-gender-suic_n_5667295-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Maloney 'Tried To End It All' Before Accepting Herself</a>
                <div class="relative">
                    <a href="2014/08/11/frank-maloney-gender-suic_n_5667295-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957870/thumbs/n-DAILY-MIRROR-medium.jpg" alt="Daily Mirror" /></a>
                                        <span class="absolute image-credit">Daily Mirror</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/kyle-sandilands-jackie-0-breakfast-show-radio-hosts_n_5667789-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":16, "plid":5667789, "lnid":"page3"}}'>
                                    <a href="2014/08/11/kyle-sandilands-jackie-0-breakfast-show-radio-hosts_n_5667789-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Radio Show Presenter Walks Out On Co-Host After Spat Live On Air</a>
                <div class="relative">
                    <a href="2014/08/11/kyle-sandilands-jackie-0-breakfast-show-radio-hosts_n_5667789-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958136/thumbs/n-KYLE-SANDILANDS-medium.jpg" alt="Kyle Sandilands" /></a>
                                        <span class="absolute image-credit">PA</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/08/mehdi-hasan-wilderness-festival-islamophobia-british-press_n_5661667-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":17, "plid":5661667, "lnid":"page3"}}'>
                                    <a href="2014/08/08/mehdi-hasan-wilderness-festival-islamophobia-british-press_n_5661667-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Mehdi Hasan Slams The British Press For Encouraging Islamophobia</a>
                <div class="relative">
                    <a href="2014/08/08/mehdi-hasan-wilderness-festival-islamophobia-british-press_n_5661667-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1954961/thumbs/n-PAPERS-medium.jpg" alt="Papers" /></a>
                                        <span class="absolute image-credit">  </span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/09/london-gaza-protest_n_5664363-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":18, "plid":5664363, "lnid":"page3"}}'>
                                    <a href="2014/08/09/london-gaza-protest_n_5664363-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Pictures Capture Sea Of Protesters As Gaza Demo Snakes Through London</a>
                <div class="relative">
                    <a href="2014/08/09/london-gaza-protest_n_5664363-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1956686/thumbs/n-GAZA-PROTEST-medium.jpg" alt="Gaza Protest" /></a>
                                        <span class="absolute image-credit">John Stillwell/PA Wire</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="richard-hytner/boris-johnson-2015-election_b_5665965-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":19, "plid":5665965, "lnid":"page3"}}'>
                                    <a href="richard-hytner/boris-johnson-2015-election_b_5665965-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'><i>Richard Hytner</i>  Is Boris Too Big for the Team?</a>
                <div class="relative">
                    <a href="richard-hytner/boris-johnson-2015-election_b_5665965-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957457/thumbs/n-BORIS-JOHNSON-DAVID-CAMERON-medium.jpg" alt="Boris Johnson David Cameron" /></a>
                                        <span class="absolute image-credit">WPA Pool via Getty Images</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/australian-jihadist-khaled-sharrouf-tweets-son-decapitated-head-graphic-picture_n_5667291-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":20, "plid":5667291, "lnid":"page3"}}'>
                                    <a href="2014/08/11/australian-jihadist-khaled-sharrouf-tweets-son-decapitated-head-graphic-picture_n_5667291-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Australian Jihadist Tweets Picture Of Young Son Holding Decapitated Head (GRAPHIC PICTURE)</a>
                <div class="relative">
                    <a href="2014/08/11/australian-jihadist-khaled-sharrouf-tweets-son-decapitated-head-graphic-picture_n_5667291-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1957858/thumbs/n-KHALED-SHARROUF-SON-medium.jpg" alt="Khaled Sharrouf Son" /></a>
                                        <span class="absolute image-credit">  </span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/foreign-office-minister-mark-simmonds-quits-government_n_5667593-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":21, "plid":5667593, "lnid":"page4"}}'>
                                    <a href="2014/08/11/foreign-office-minister-mark-simmonds-quits-government_n_5667593-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>Another Foreign Office Minister Has Quit</a>
                <div class="relative">
                    <a href="2014/08/11/foreign-office-minister-mark-simmonds-quits-government_n_5667593-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958055/thumbs/n-MARK-SIMMONDS-medium.jpg" alt="Mark Simmonds" /></a>
                                        <span class="absolute image-credit">PA/PA Archive</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/11/bbc-news-fail_n_5667664-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":22, "plid":5667664, "lnid":"page4"}}'>
                                    <a href="2014/08/11/bbc-news-fail_n_5667664-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>This BBC Presenter Rather Misjudged The Tone Of The News Headlines</a>
                <div class="relative">
                    <a href="2014/08/11/bbc-news-fail_n_5667664-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1958079/thumbs/n-BBC-NEWS-FAIL-medium.jpg" alt="Bbc News Fail" /></a>
                                        <span class="absolute image-credit">YouTube</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>
                <div class="most_popular_entry_wrapper">
            <a href="2014/08/12/18-people-who-think-robbie-williams-is-dead_n_5670728-utm_hp_ref=mostpopular.html">
                <div class="most_popular_entry" data-beacon='{"p":{"mpid":23, "plid":5670728, "lnid":"page4"}}'>
                                    <a href="2014/08/12/18-people-who-think-robbie-williams-is-dead_n_5670728-utm_hp_ref=mostpopular.html" class="black most_popular_entry_title" data-beacon='{"p":{"lnid":"headline"}}'>18 People Who Think Robbie Williams Is Dead</a>
                <div class="relative">
                    <a href="2014/08/12/18-people-who-think-robbie-williams-is-dead_n_5670728-utm_hp_ref=mostpopular.html" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="http://i.huffpost.com/gen/1960016/thumbs/n-ROBBIE-WILLIAMS-medium.jpg" alt="Robbie Williams" /></a>
                                        <span class="absolute image-credit">Daniel Liebl via Getty Images</span>
                    </div>
                                    <div class="clear"></div>
                </div>
            </a>
        </div>

    </div>


        <script type="text/javascript">
        huff.use('dom/ready', function($) {
            huff.js('stylelist/module.jquerydl.js', function(){
                $('div#mp_cycle').splitUp( 7, '<div/>' ).cycle({
                    fx: 'fade',
                    next: '#mp_pager .next',
                    prev: '#mp_pager .prev',
                    cleartype: 1
                });
                $('div#mp_cycle').cycle('pause');
            });
        });
    </script>

</div>
<div class="clear full"></div>

<script id="entry-template" type="text/fiji_template">
  <div class="most_popular_entry_wrapper fiji-node">
    <div class="most_popular_entry">
      <a href="{{entry_url}}" class="bn headline" data-beacon='{"p":{"lnid":"headline"}}'>
        <span class="bn label">{{breaking}}</span>
        {{headline}}
      </a>
      <a href="{{entry_url}}" data-beacon='{"p":{"lnid":"img"}}'><img border="0" width="300" height="125" src="{{image_url}}"  /></a>
      <div class="clear"></div>
    </div>
  </div>
</script>
<script type="text/javascript">
  huff.use('most_popular_stream');
</script>

<div class="mod mod-follow tabs" data-beacon='{"p":{"mnid":"mod-follow"}}'>
  <div class="mod-head">
    <h3>Follow HuffPost</h3>
  </div>
  <div class="mod-body">
    <ul class="platform tabs-control">
      <li class="email sprite" data-beacon='{"p":{"lnid":"email"}}'>
        <a href="index.html#">Email</a>
      </li>
      <li class="fb sprite" data-beacon='{"p":{"lnid":"fb"}}'>
        <a href="index.html#">Facebook</a>
      </li>
      <li class="twitter sprite" data-beacon='{"p":{"lnid":"twitter"}}'>
        <a href="index.html#">Twitter</a>
      </li>
      <li class="gplus sprite" data-beacon='{"p":{"lnid":"gplus"}}'>
        <a href="index.html#">Google Plus</a>
      </li>
      <li class="rss sprite" data-beacon='{"p":{"lnid":"rss"}}'>
        <a href="index.html#">RSS</a>
      </li>
      <li class="mobile sprite" data-beacon='{"p":{"lnid":"mobile"}}'>
        <a href="index.html#">Mobile</a>
      </li>
    </ul>
    <ul class="platform-content tabs-content">
      <li class="email">
        <form class="subscribe">
          <input class="text" name="email" onFocus="if(this.value=='Enter your email')this.value=''" value="Enter your email" type="text" />
          <input type="hidden" name="vertical" value="uk" />
          <input class="button" type="submit" value="Sign me up!" />
          <div class="options">

            <label>
              <input type="checkbox" class="list" name="daily-brief" checked="checked" />
                                HuffPost Daily Brief                          </label>


          </div>
          <p class="instructions">
            Get top stories and blogs posts emailed to you each day.
            <!-- %strong Thanks! -->
            <!-- You're now signed-up for the HuffPost Daily Brief and Politics newsletter. -->
          </p>
        </form>
      </li>
      <!-- /.email -->
      <li class="fb">
        <ol class="options">
                             <li>
                      <span class="name">UK</span>
            <div class="share-button">
                <div class="fb-like" data-href="http://www.facebook.com/HuffPostUK" data-send="false" data-layout="button_count" data-width="95" data-show-faces="false" data-colorscheme="light" data-font="trebuchet ms" data-action="like" ref="" style="width: 95px" hp_track="Vertical Page"></div><script type="text/javascript">
jQuery('#fb_like_vertical').mouseenter(function() {
	var html = "<div id=\"fb-tooltip\" class=\"fb-tooltip-main\"><div class=\"fb-tooltip-wrapper\"><span>Follow us on Facebook</span><br/>Get updates from HuffPost UK posted directly to your News Feed.<div class=\"corner\"><div class=\"first\"></div><div class=\"second\"></div></div></div></div>";
	var coords = [-5, -78];
	if( HPConfig.current_vertical_name == 'homepage' ) {
		coords = [-5, -70];
	}
	else if( HPConfig.current_vertical_name == 'mapquest' ) {
		coords = [-5, -68];
	}
	FloatingPrompt.embed(this, html, undefined, 'top', {fp_intersects:1, timeout_remove:2000,ignore_arrow: true, width:236, add_xy:coords, class_name: 'clear-overlay'});
});
</script>
            </div>

          </li>
                  </ol>
      </li>
      <!-- /.fb -->
      <li class="twitter">
        <ol class="options">
                            <li>
            <span class="name">UK</span>
            <div class="share-button">

<span data-placement="Header/UK">

<a href="https://twitter.com/HuffPostUK" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false" data-lang="en" data-width="70px">Follow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</span>
            </div>
          </li>
                  </ol>
      </li>
      <!-- /.twitter -->
      <li class="gplus">
        <ol class="options">
                            <li>
            <span class="name">UK</span>
            <div class="share-button">

<div class="g-plusone" data-annotation="bubble" data-size="medium" data-width="32" data-href="http://www.huffingtonpost.co.uk/uk"></div>
            </div>
          </li>
                  </ol>
      </li>
      <!-- /.gplus -->
      <li class="rss">
        <ol class="options">
        		            <li>

                        <a href="feeds/verticals/uk/index.xml.rss" class="name sprite">UK</a>
                      </li>
		            <li>
            <a class="more" href="syndication/index.html">View all RSS feeds</a>
          </li>
        </ol>
      </li>
      <!-- /.rss -->
      <li class="mobile">
        <ol class="options">
          <li>
            <a class="ios sprite" href="http://itunes.apple.com/us/app/the-huffington-post/id306621789?mt=8"></a>
          </li>
          <li>
            <a class="android sprite" href="https://play.google.com/store/apps/details?id=com.huffingtonpost.android&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5odWZmaW5ndG9ucG9zdC5hbmRyb2lkIl0"></a>
          </li>
          <li>
            <a class="blackberry sprite" href="https://appworld.blackberry.com/webstore/content/19143/"></a>
          </li>
        </ol>
      </li>
      <!-- /.mobile -->
    </ul>
  </div>
  <div class="mod-footer"></div>
</div>
<!-- /.mod-follow -->

<div class="clear margin_top_10"></div>




				<!-- Content -->

        <div class="fb_module"><div class="fb-like-box" data-href="http://www.facebook.com/HuffPostUK" data-width="300" data-height="260" data-show-faces="true" data-stream="false" data-header="false"></div><div style="font-size:8px; padding-left:10px"></div></div>




<div class="clear"></div>
				<!-- /Content -->

				<!-- Right entries -->
            <div id="right_column_entries">
            <div id="rc_upper">
<!-- BEGIN rc_upper CONTENT -->







<!-- Entry Blog 2 -->



{% for article in articles %}
<div id="entry_{{ forloop.counter }}" onmouseover="TrackingData.entry_5670762={id:5670762,blog_id:2,rank:1,zone:5,vertical:47,ab_headline:'a'};"
     class="entry" data-beacon='{"p":{"mnid":"newsa","plid":5670762,"mpid":1}}'>

    <h4>
        <a href="{% if article.custom_redirect_url %}{{ article.custom_redirect_url }}{% else %}{% pageurl article %}{% endif %}"
                {% if article.custom_redirect_url %}target="_blank"{% endif %}>
        <div class="float_left shadow default_tag uk_vertical_background white arial_12 bold">{{ article.tags.all.0|upper }}</div>
    <div class="uk_vertical_background default_tag_arrow"></div>
        {{ article.title }}</a></h4>

    <div class="image_wrapper relative" style="width: 300px;">
    <a href="{% if article.custom_redirect_url %}{{ article.custom_redirect_url }}{% else %}{% pageurl article %}{% endif %}"
                {% if article.custom_redirect_url %}target="_blank"{% endif %}>
          {% image article.featured_image width-300 %}
          </a></div>

     <ul class="meta_links">

	<li>
		<a href="{% if article.custom_redirect_url %}{{ article.custom_redirect_url }}{% else %}{% pageurl article %}{% endif %}"
                {% if article.custom_redirect_url %}target="_blank"{% endif %}
           data-beacon='{"p":{"lnid":"cmnts"}}'>Comments
            <span class="comment_count" id="comment_count_5670762">
           {% count_comments article %}</span></a>
	</li>

	<li>
		|
		<a href="{% pageurl article.get_parent %}" class="topic_link" data-beacon='{"p":{"lnid":"bigNws"}}'>{{ article.get_parent|upper }}</a>

	</li>

    </ul>

</div>
{% endfor %}











<!-- Entry Blog 2 -->








<!-- Entry Blog 2 -->
    						<!-- all_grouping_entry_id -->










<!-- Entry Blog 2 -->
















<!-- Entry Blog 2 -->
















<!-- Entry Blog 2 -->
















<!-- Entry Blog 2 -->
















<!-- Entry Blog 2 -->
    						<!-- all_grouping_entry_id -->










<!-- END rc_lower CONTENT -->
</div>
            	<div id='recent-blogs-overflow-container-right' data-beacon='{"p":{"mnid":"overflow_entry"}}'></div>

            </div> <!-- right_column_entries -->

			<!-- ESI SNN StartTime:1407842083 -->




        <script type="text/javascript">
            SNPModule.init();
        </script>

		</div>