<div class="relative">
    <!-- Visual Sciences HTML for Search -->
<br/>
<!-- Google CSE Search Box Begins -->
<div class="footer_search relative">
    		        <form id="search_form" name="search_form" method="get">
					<input type="text" name="q" value="Search The Huffington Post"
                           onfocus="if(this.value=='Search The Huffington Post'){this.value=''}" onblur="if(this.value==''){this.value='Search The Huffington Post'}" size="31" id="" class="fieldSkybox main_border inp-text" />
 					<input type="submit" class="searchButton" value="Search" />
		        	<input type="hidden"	name="s_it" 		value="aoluk-huffpo-V1" />
			        </form>
</div>
</div>

<div id="footer">

	<!-- HP topnav -->
	<div class="top_nav_menu margin_bottom_5">
			</div>

	<div>
            <!--

-->

        <ul id="footer_nav_1" class="footer_nav">
    <li><a href="http://advertising.aol.co.uk/brands" target="_blank">Advertise</a> | </li>
    <li id="loggedin_user"></li>
    <li><a href="makehome/index.html">Make HuffPost your Home Page</a> | </li>
    <li><a href="syndication/index.html">RSS</a> | </li>
    <li><a href="p/huffingtonpostcouk-careers.html">Careers</a> | </li>
    <li><a href="p/huffingtonpostcouk-faq.html">FAQ</a></li>
</ul>
<ul id="footer_nav_2" class="footer_nav">
    <li><a href="p/huffingtonpostcouk-terms-of-service.html">User Agreement</a> | </li>
    <li><a href="http://privacy.aol.co.uk/">Privacy</a> | </li>
    <li><a href="http://privacy.aol.co.uk/cookie-information/">Cookie Policy</a> | </li>
    <li><a href="p/huffingtonpostcouk-comment-policy.html">Comment Policy</a> | </li>
    <li><a href="p/huffingtonpostcouk-about-us.html">About Us</a> | </li>
    <li><a href="http://adinfo.aol.com/about-our-ads/" target="_blank">About Our Ads</a> | </li>
    <li><a href="p/huffpost-uk-contact-us.html">Contact Us</a></li>
</ul>
<ul id="footer_nav_3" class="footer_nav">
    <li>&quot;The Huffington Post UK&quot; is provided by AOL (UK) Limited.  &copy; 2014 AOL (UK) Limited its affiliates and licensors</li>
</ul>
<!--

-->

                                <ul id="footer_nav_4" class="footer_nav">
                        <li>Part of <strong>
                        HPMG News                        </strong></li>
                    </ul>
                        <br/>
	</div>
</div>