<div id="blogroll_wrapper" class="clearfix margin_top_5 border_for_widget " style="margin: 5px 11px 12px 9px;">
            <div id="blogroll_header" class="round_header">
                <div class="blogroll_tab clearfix">
                	                    <ul>
						<li class="first">
                    		<a href="index.html#blog_links" rel="homepage" class="first uppercase blogroll_tab_link">links:</a>
     </li>
						<li>
				         	<a href="#" rel="uk-politics">
				                POLITICS							</a>
						</li>
												<li>
				         	<a href="#" id="blogroll_tab_entertainment" rel="uk-entertainment">
				                ENTERTAINMENT							</a>
						</li>
												<li>
				         	<a href="#" id="blogroll_tab_comedy" rel="uk-comedy">
				                COMEDY							</a>
						</li>
												<li>
				         	<a href="#" id="blogroll_tab_style" rel="uk-style">
				                STYLE							</a>
						</li>
												<li>
				         	<a href="#" id="blogroll_tab_lifestyle" rel="uk-lifestyle">
				                LIFESTYLE							</a>
						</li>
												<li>
				         	<a href="#" id="blogroll_tab_tech" rel="uk-tech">
				                TECH							</a>
						</li>
												<li>
				         	<a href="#" id="blogroll_tab_students" rel="uk-students">
				                STUDENTS							</a>
						</li>
						                    </ul>
                	                </div> <!-- .blogroll_tab -->
			</div><!-- .blogroll_header -->
			<div id="blogroll" class="float_left white_bg">
				<div id="blogroll_inner">
                    <div class='link_list_wrapper'><span class='bold georgia_14'>National Press</span><ul class='link_list'><li><a href="http://news.bbc.co.uk/" target="_hplink">BBC</a></li>
<li><a href="http://www.sky.com/news/" target="_hplink">Sky</a></li>
<li><a href="http://www.itn.co.uk/" target="_hplink">ITN</a></li>
<li><a href="http://www.channel4.com/news/" target="_hplink">Channel 4</a></li>
<li><a href="http://europe.cnn.com/" target="_hplink"> CNN </a></li>
<li><a href="http://www.thetimes.co.uk" target="_hplink">The Times </a></li>
<li><a href="http://www.guardian.co.uk/" target="_hplink">The Guardian</a></li>
<li><a href="http://www.independent.co.uk/" target="_hplink">The Independent</a></li>
<li><a href="http://www.observer.co.uk/" target="_hplink">The Observer</a></li>
<li><a href="http://www.telegraph.co.uk/" target="_hplink">The Telegraph</a></li>
<li><a href="http://www.ft.com/" target="_hplink">Financial Times</a></li>
</ul></div><div class='link_list_wrapper'><ul class='link_list'><li><a href="http://www.express.co.uk/" target="_hplink"> Express </a></li>
<li><a href="http://www.dailymail.co.uk/" target="_hplink">Daily Mail</a></li>
<li><a href="http://www.mirror.co.uk/" target="_hplink">Daily Mirror </a></li>
<li><a href="http://www.thesun.co.uk/" target="_hplink">The Sun</a></li>
<li><a href="http://www.metro.co.uk/home/" target="_hplink"> Metro </a></li>
</ul><span class='bold georgia_14'>Regional Press</span><ul class='link_list'><li><a href="http://www.thisislondon.co.uk/" target="_hplink">Evening Standard</a></li>
<li><a href="http://www.london24.com/" target="_hplink"> London 24 </a></li>
<li><a href="http://www.hamandhigh.co.uk" target="_hplink"> Ham & High </a></li>
<li><a href="http://www.islingtongazette.co.uk/home" target="_hplink"> Islington Gazette </a></li>
<li><a href="http://www.theargus.co.uk/" target="_hplink">The Argus</a></li>
</ul></div><div class='link_list_wrapper'><ul class='link_list'><li><a href="http://www.newhamrecorder.co.uk" target="_hplink"> Newham Recorder </a></li>
<li><a href="http://www.epost.co.uk/" target="_hplink">Bristol Evening Post</a></li>
<li><a href="http://www.thenews.co.uk/" target="_hplink">Portsmouth News</a></li>
<li><a href="http://www.westpress.co.uk/" target="_hplink">Western Daily Press</a></li>
<li><a href="http://icbirmingham.icnetwork.co.uk/" target="_hplink">Birmingham Post & Mail</a></li>
<li><a href="http://iccoventry.icnetwork.co.uk/" target="_hplink">Coventry EveningTelegraph</a></li>
<li><a href="http://icliverpool.icnetwork.co.uk/" target="_hplink">Liverpool Daily Post</a></li>
<li><a href="http://www.manchesteronline.co.uk/" target="_hplink">Manchester Evening News</a></li>
<li><a href="http://icnewcastle.icnetwork.co.uk/" target="_hplink">Newcastle Evening Chronicle</a></li>
<li><a href="http://www.thisisnottingham.co.uk/" target="_hplink">Nottingham Evening Post</a></li>
<li><a href="http://www.sheffieldtoday.net/" target="_hplink">Sheffield Today</a></li>
</ul></div><div class='link_list_wrapper'><ul class='link_list'><li><a href="http://www.leedstoday.net/" target="_hplink">Yorkshire Evening Post</a></li>
<li><a href="http://www.edp24.co.uk/home" target="_hplink">Eastern Daily Press</a></li>
</ul><span class='bold georgia_14'>Northern Ireland</span><ul class='link_list'><li><a href="http://www.belfasttelegraph.co.uk/" target="_hplink">Belfast Telegraph</a></li>
<li><a href="http://www.irishnews.com/" target="_hplink">Irish News</a></li>
</ul><span class='bold georgia_14'>Scotland</span><ul class='link_list'><li><a href="http://www.thescotsman.co.uk/" target="_hplink">The Scotsman</a></li>
<li><a href="http://edinburghnews.scotsman.com/" target="_hplink">Edinburgh Evening News</a></li>
<li><a href="http://www.thecourier.co.uk/" target="_hplink">Dundee Courier</a></li>
<li><a href="http://www.theherald.co.uk/" target="_hplink">Glasgow Herald </a></li>
<li><a href="http://www.eveningtimes.co.uk/" target="_hplink">Evening Times</a></li>
</ul></div><div class='link_list_wrapper'><ul class='link_list'><li><a href="http://www.dailyrecord.co.uk/" target="_hplink">Daily Record</a></li>
<li><a href="http://www.thisisnorthscotland.co.uk/" target="_hplink">Aberdeen Press and Journal</a></li>
<li><a href="http://news.stv.tv/" target="_hplink">Scotland Today</a></li>
</ul><span class='bold georgia_14'>Wales</span><ul class='link_list'><li><a href="http://www.newswales.co.uk/" target="_hplink">News Wales</a></li>
<li><a href="http://www.southwalesargus.co.uk/" target="_hplink">South Wales Argus</a></li>
<li><a href="http://www.thisissouthwales.co.uk/" target="_hplink">This Is South Wales</a></li>
<li><a href="http://www.walesonline.co.uk/" target="_hplink">Wales Online</a></li>
<li><a href="http://www.westerntelegraph.co.uk/" target="_hplink">Western Telegraph</a></li>
<li><a href="http://www.leaderlive.co.uk/" target="_hplink">Wrexham Evening Leader</a></li>
</ul><span class='bold georgia_14'>Columnists</span><ul class='link_list'></ul></div><div class='link_list_wrapper'><ul class='link_list'><li><a href="http://search.independent.co.uk/topic/matt-chorley" target="_hplink">Matt Chorley</a></li>
<li><a href="http://blogs.telegraph.co.uk/news/author/benedictbrogan/" target="_hplink">Ben Brogan</a></li>
<li><a href="http://www.guardian.co.uk/profile/nicholaswatt" target="_hplink">Nick Watt</a></li>
<li><a href="http://www.bbc.co.uk/news/correspondents/nickrobinson/" target="_hplink">Nick Robinson</a></li>
<li><a href="http://blog.itv.com/news/author/tombradby/" target="_hplink">Tom Bradby</a></li>
<li><a href="http://www.channel4.com/news/gary-gibbon" target="_hplink">Gary Gibbon</a></li>
<li><a href="http://www.channel4.com/news/jon-snow" target="_hplink">Jon Snow </a></li>
<li><a href="http://www.bbc.co.uk/news/correspondents/markdarcy/" target="_hplink">Mark D'Arcy</a></li>
<li><a href="http://www.politicshome.com/waughroom.html" target="_hplink">The Waugh Room</a></li>
<li><a href="http://www.guardian.co.uk/politics/blog+series/politics-live-with-andrew-sparrow" target="_hplink">Andrew Sparrow</a></li>
<li><a href="http://blogs.news.sky.com/boultonandco" target="_hplink">Boulton & Co</a></li>
</ul></div>			    </div>
		    </div>

     </div>   </div>
