<div class="column">
				<strong class="title">News</strong>
				<div class="vert_holder">
					<ul class="all_sections_section">
						<li><a href="http://www.huffingtonpost.com/politics/">Politics</a></li>
						<li><a href="http://www.huffingtonpost.com/theworldpost/">WorldPost</a></li>
						<li><a href="http://www.huffingtonpost.com/business/">Business</a></li>
						<li><a href="http://www.huffingtonpost.com/small-business/">Small Business</a></li>
						<li><a href="http://www.huffingtonpost.com/money/">Money</a></li>
						<li><a href="http://www.huffingtonpost.com/media/">Media</a></li>
						<li><a href="http://www.huffingtonpost.com/sports/">Sports</a></li>
						<li><a href="http://www.huffingtonpost.com/education/">Education</a></li>
						<li><a href="http://www.huffingtonpost.com/crime/">Crime</a></li>
						<li><a href="http://www.huffingtonpost.com/weird-news/">Weird News</a></li>
						<li><a href="http://www.huffingtonpost.com/good-news/">Good News</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<strong class="title">Entertainment</strong>
				<div class="vert_holder">
					<ul class="all_sections_section">
						<li><a href="http://www.huffingtonpost.com/entertainment/">Entertainment</a></li>
						<li><a href="http://www.huffingtonpost.com/celebrity/">Celebrity</a></li>
						<li><a href="http://www.huffingtonpost.com/comedy/">Comedy</a></li>
						<li><a href="http://www.huffingtonpost.com/arts/">Arts & Culture</a></li>
						<li><a href="http://www.huffingtonpost.com/books/">Books</a></li>
						<li><a href="http://www.huffingtonpost.com/tv/">TV</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<strong class="title">Life &amp; Style</strong>
				<div class="vert_holder">
					<ul class="all_sections_section">
						<li><a href="http://www.huffingtonpost.com/healthy-living/">Healthy Living</a></li>
						<li><a href="http://www.huffingtonpost.com/gps-for-the-soul/">GPS for the Soul</a></li>
						<li><a href="http://www.huffingtonpost.com/style/">Style</a></li>
						<li><a href="http://www.huffingtonpost.com/home/">Home</a></li>
						<li><a href="http://www.huffingtonpost.com/taste/">Taste</a></li> 
						<li><a href="http://www.huffingtonpost.com/weddings/">Weddings</a></li>
						<li><a href="http://www.huffingtonpost.com/travel/">Travel</a></li>
						<li><a href="http://www.huffingtonpost.com/parents/">Parents</a></li>
						<li><a href="http://www.huffingtonpost.com/divorce/">Divorce</a></li>
						<li><a href="http://www.huffingtonpost.com/50/">Huff/Post 50</a></li>
						<li><a href="http://www.huffingtonpost.com/marlothomas/">Marlo Thomas</a></li>
						<li><a href="http://www.huffingtonpost.com/own/">OWN</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<strong class="title">Tech &amp; Science</strong>
				<div class="vert_holder">
					<ul class="all_sections_section">
						<li><a href="http://www.huffingtonpost.com/tech/">Tech</a></li>
						<li><a href="http://www.huffingtonpost.com/science/">Science</a></li>
						<li><a href="http://www.huffingtonpost.com/green/">Green</a></li>
						<li><a href="http://www.huffingtonpost.com/tedweekends/">TEDWeekends</a></li>
						<li><a href="http://www.huffingtonpost.com/code/">Code</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<strong class="title">Voices</strong>
				<div class="vert_holder">
					<ul class="all_sections_section">
						<li><a href="http://www.huffingtonpost.com/women/">Women</a></li>
						<li><a href="http://www.huffingtonpost.com/black-voices/">Black Voices</a></li>
						<li><a href="http://www.huffingtonpost.com/latino-voices/">Latino Voices</a></li>
						<li><a href="http://voces.huffingtonpost.com/">Voces (en español)</a></li>
						<li><a href="http://www.huffingtonpost.com/gay-voices/">Gay Voices</a></li>
						<li><a href="http://www.huffingtonpost.com/religion/">Religion</a></li>
						<li><a href="http://www.huffingtonpost.com/college/">College</a></li>
						<li><a href="http://www.huffingtonpost.com/teen/">Teen</a></li>
						<li><a href="http://www.huffingtonpost.com/impact/">Impact</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<strong class="title">Local</strong>
				<div class="vert_holder">
					<ul class="all_sections_section">
						<li><a href="http://www.huffingtonpost.com/chicago/">Chicago</a></li>
						<li><a href="http://www.huffingtonpost.com/dc/">DC</a></li>
						<li><a href="http://www.huffingtonpost.com/denver/">Denver</a></li>
						<li><a href="http://www.huffingtonpost.com/detroit/">Detroit</a></li>
						<li><a href="http://www.huffingtonpost.com/hawaii/">Hawaii</a></li>
						<li><a href="http://www.huffingtonpost.com/los-angeles/">Los Angeles</a></li>
						<li><a href="http://www.huffingtonpost.com/miami/">Miami</a></li>
						<li><a href="http://www.huffingtonpost.com/new-york/">New York</a></li>	
						<li><a href="http://www.huffingtonpost.com/san-francisco/">San Francisco</a></li>
					</ul>
				</div>
			</div>